{{- define "main" -}}
{{- $enableOGP := true -}}
  <div class="container page-main">
    <article>
    <header class="post-header">
      <h2>{{ .Title }}</h2>
      <div class="lastmodDate"><span>LastMod: {{ (os.Stat "data/clothes.toml").ModTime.Format "2006-01-02 15:04:05 MST" }}</span></div>
    </header>
    <section>
      {{- .Content -}}
    </section>

    <section>
      <div class="search">
        簡易検索 <input type="text" class="searchItems">
      </div>
      <ul class="clothet">
    {{- range $key, $val := $.Site.Data.clothes }}
      {{- range . -}}
        {{- if $enableOGP -}}
          {{- $json := getJSON (printf $.Site.Params.ogpParserURL (querify "url" .url)) -}}
          {{- if eq (index $json "status") "ok" -}}
            {{- $ogpimage := resources.Get $json.local_ogp_image_path -}}
            {{/* $og_image := index (index $json.ogp "og:image") 0 */}}
            {{/* $image_path := (urls.Parse $og_image).Path */}}
            {{/* $image_path_split := strings.Split $image_path "/" */}}
            {{/* $ogpImage := resources.Get (printf "ogp_image/%s" (index $image_path_split (add (len $image_path_split) -1) ) ) */}}
            <li class="clothet__item" data-category="{{ $key }}" data-key="{{ $key }} {{ .name }} {{ .author }} {{ .style }}">
              <div class="item__image">
                {{- if $ogpimage -}}
                  <div style="background-image: url({{ ($ogpimage.Resize "150x").RelPermalink }});" loading="lazy"></div>
                {{/*<img src="{{ ($ogpimage.Resize "150x").RelPermalink }}" loading="lazy" draggable="false" >*/}}
                {{- end -}}
              </div>
              <div class="item__name">
                <!-- <div class="item__category">{{ $key }}</div> -->
                <a target="_blank" href="{{ .url }}"><span>{{ .name }}</span></a>
              </div>
              <div class="item__author">
                <span>{{ .author }}</span>
              </div>
            </li>
          {{- else -}}
            <li style="display: none; visibility: hidden;">{{ .name }} {{ .url }}</li>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
      </ul>
    </section>

  </div>
  </article>
{{- $searchClothet := resources.Get "js/searchClothet.js" | js.Build | resources.Minify -}}
<script type="text/javascript" src="{{ $searchClothet.RelPermalink }}"></script>
{{- end -}}
