{{- define "main" -}}
{{- $enableOGP := .Site.Params.enableOGP -}}
{{- $scratch := newScratch -}}

{{- range $filename, $val := $.Site.Data.clothet -}}
  {{- range $category, $item := $val -}}
    {{- if ($scratch.Get "c") -}}
      {{- if (index ($scratch.Get "c") $category) -}}
       {{/*- スクラッチが宣言されていて、カテゴリが作られているときは、sliceをappendさせる -*/}}
        {{- $scratch.SetInMap "c" $category ((index ($scratch.Get "c") $category) | append $item) -}}
      {{- else -}}
        <!-- カテゴリが作られていないとき -->
        {{- $scratch.SetInMap "c" $category $item -}}
      {{- end -}}
    {{- else -}}
      {{- $scratch.SetInMap "c" $category $item -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
  <div class="container pageMain">
    <article class="clothet">
    <header class="clothet-header">
      <h2>{{ .Title }}</h2>
      <div class="lastmodDate"><span>LastMod: {{ (os.Stat "data/clothet").ModTime.Format "2006-01-02 15:04:05 MST" }}</span></div>
    </header>
    <section class="clothet-section">
      {{- .Content -}}
    </section>

    <section class="clothet-section" style="margin-top: 0;padding-top: 0;">
      <div class="search">
        <div class="search-category">
          <ul >
            {{- range $key, $val := ($scratch.Get "c") -}}
            <li><label for="{{ $key }}">
              <input type="checkbox" name="cloth-category" id="{{ $key }}" value="{{ $key }}" checked>
              <span>{{ $key }}</span>
            </label></li>
            {{- end }}
          </ul>
          AND検索<input type="checkbox" name="cloth-category-logi-and" value="true" id="cloth-category-logi-and">
        </div>

        簡易検索 <input type="text" class="searchItems">
        <div class="cloth__sort"><select class="clothet-sort"></select></div>
        <div class="cloth__support"><select class="clothet-supported-avatar" multiple></select></div>
      </div>

      <ul class="clothet-items">
    {{- range $key, $val := ($scratch.Get "c") }}
      {{- range . -}}
        {{- if $enableOGP -}}
          {{- $json := getJSON (printf $.Site.Params.ogpParserURL (querify "url" .url)) -}}
          {{- if eq (index $json "status") "ok" -}}
            {{- $ogpimage := resources.Get $json.local_ogp_image_path -}}
            {{/* $og_image := index (index $json.ogp "og:image") 0 */}}
            {{/* $image_path := (urls.Parse $og_image).Path */}}
            {{/* $image_path_split := strings.Split $image_path "/" */}}
            {{/* $ogpImage := resources.Get (printf "ogp_image/%s" (index $image_path_split (add (len $image_path_split) -1) ) ) */}}
            {{- $date := "" -}}
            {{- if .release -}}
              {{- $date = .release -}}
            {{- else if .vrc_new_item -}}
              {{- $date = .vrc_new_item -}}
            {{- else if .twitter_first_post -}}
              {{- $date = .twitter_first_post -}}
            {{- end -}}
            {{- $category := $key -}}
            {{- if .category -}}
              {{- $category = delimit .category "," -}}
            {{- end -}}
            <li class="clothet__item" data-category="{{ $category }}" data-key="{{ $key }} {{ .name }} {{ .author }} {{ .style }}" data-release="{{ $date }}" data-name="{{ .name }}" data-author="{{ .author }}" data-support="{{ delimit .support "," }}">
              <div class="item__image">
                {{- if $ogpimage -}}
                  <div style="background-image: url({{ ($ogpimage.Resize "150x").RelPermalink }});" loading="lazy"></div>
                {{/*<img src="{{ ($ogpimage.Resize "150x").RelPermalink }}" loading="lazy" draggable="false" >*/}}
                {{- end -}}
              </div>
              <div class="item__name">
                <!-- <div class="item__category">{{ $key }}</div> -->
                <a target="_blank" href="{{ .url }}">
                  {{- range (split $category ",") -}}
                    <span class="icon {{ . }}"></span>
                  {{- end -}}
                  <span>{{ .name }}</span></a>
              </div>
              <div class="item__author">
                <span>{{ .author }}</span>
              </div>
              <div class="item__support">
                {{- range .support -}}
                  <span>{{ . }}</span>
                {{- end -}}
              </div>
            </li>
          {{- else -}}
            <li style="display: none; visibility: hidden;">{{ .name }} {{ .url }}</li>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
      </ul>
    </section>

  </div>
  </article>
{{- $searchClothet := resources.Get "js/searchClothet.js" | js.Build | resources.Minify -}}
<script type="text/javascript" src="{{ $searchClothet.RelPermalink }}"></script>
{{- $filterSupportAvatar := resources.Get "js/filterSupportAvatar.js" | js.Build | resources.Minify -}}
<script type="text/javascript" src="{{ $filterSupportAvatar.RelPermalink }}"></script>

{{- end -}}
