{{/* gallery/list.html */}}
{{ define "main" }}
<div class="container pageMain">
  {{ template "breadcrumb" . }}
  {{ if ne (len .Content) 0 }}
    {{ .Content }}
  {{ end }}
  {{ if ne (len .Pages) 0 }}
    <ul class="posts">
    {{ range .Pages }}
      <li class="post">
        <figure class="post-thumb">
          <div style="background: center / contain no-repeat url('{{ $image := index (.Resources.ByType "image" ) 0 }}{{ ($image.Fit "200x300").RelPermalink }}');">
        </figure>
        <div class="post-content">
          <a href="{{ (.Permalink) }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
        </div>
      </li>
    {{ end }}
    </ul>
  {{ end }}
</div>
{{ end }}
