{{/* gallery/single.html */}}
{{ define "main" }}
<div class="container page-main">
  {{ if ne (len .Content) 0 }}
  <section class="post-content">
    {{ .Content }}
  </section>
  {{ end }}
  {{ if .Params.autoImageList }}
  <section>
    <div class="imagelist">
    {{ range .Resources.ByType "image" }}
      <div class="image">
        <div class="image__contents">
          <div class="image__body" style="background-image: url({{ (.Fit "1920x1080 q80").RelPermalink }})"></div>
          <div class="image__desc"></div>
        </div>
      </div>
    {{ end }}
    </div>
  </section>
  {{ end }}
</div>
{{ end }}
