
article {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.75;
  }
}

.post-content {
  line-height: 2;

  h1 {
    margin: 4rem auto;
  }
  h2 {
    margin: 2rem auto;
  }
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem auto;
    margin-top: 2rem;
  }

  .paragraph {
    p {
      margin-bottom: 1rem;
      line-height: 2;
    }
  }

  .ulist {
    li {
      p {
        margin: 0;
      }
    }
  }

  .imageblock {
    margin: 2rem auto;
    &.text-center {
      text-align: center;
    }
    .title {
      margin: 0.5rem auto;
    }
  }

  ul.bibliography {
    margin: 0;
    padding: 0;
    padding-left: 4rem;
    list-style-type: none;
    p {
      margin: 0 auto;
      text-indent: -4rem;
    }
  }

  code {
    padding: 0 .25em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 90%;
    background: #eee;
    word-break: break-all;
  }
}

.post-header {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  margin-top: 3rem;
  display: block;
}

@media screen and (max-width: 37rem) {
  .post-header {
    width: inherit;
    margin: 1rem;
  }
}
