
.event-info {
  .events {
    .event-title {
      margin-bottom: 0;
    }
  }
}

.postlist {
  header {
    display: block;
    margin: 0;
    padding: 0;
    height: inherit;
    width: 100%;
    min-height: inherit;
  }
  .eventTitle {
    margin-bottom: 0;
  }
  .eventDate {
    margin-top: 0;
    text-align: right;
  }
}
.timeLine-date {
  font-size: 2rem;
  margin-left: -3rem;
}
