
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: medium "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDGothic", Meiryo, sans-serif;
  line-height: 1.05;
  color: #384545;
  /* http://www.heropatterns.com/ */
  background-color: #cfe8e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2395c8b7' fill-opacity='0.52'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

::selection {
  color: #382f32;
  background: #a9e6ef;
}

a {
  color: #ba637c;
  text-decoration: none;
}

a:visited {
  color: #914d60;
}

a:hover,
a:focus,
a:active {
  color: #ae5b73;
}

p a {
  margin: auto .25em;
}

p a.fc,
p a.lnm {
  margin-left: 0;
}

p a.rnm {
  margin-right: 0;
}

p a.nm {
  margin: 0;
}

h1 > a,
h2 > a,
h3 > a {
  color: inherit;
}

p {
  line-height: 1.45;
}

rt {
  line-height: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.page-header {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  flex-shrink: 0;
}

.page-header--close {
  width: 100%;
  height: initial;
  /*max-height: 60%;*/
  margin: 0 auto;
}

header {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header__title {}

.header__title > h1 {
  text-align: center;
  font-size: 4rem;
}

.header__title a:hover,
.header__title a:visited {
  color: inherit;
}

.header__image {
}

.header__image img {
  height: 60vh;
}

section {
  max-width: 32rem;
  margin: 0 auto;
  padding: 2rem 16px;
  background: #F3FCFC;
}

section + section {
  margin-top: 16px;
}

section > h2:nth-child(1),
section > h3:nth-child(1),
section > h4:nth-child(1) {
  margin-top: 0;
}

section > h2 {
  font-size: 1.5rem;
}

section > h3 {
  font-size: 1.25rem;
}

section li {
  margin-bottom: 0.25em;
}

section img {
  width: 90%;
}

section:nth-child(1) {
  /*margin-top: -32px;*/
}

.page-header + .page-main {
  margin-top: -32px;
}

.page-main {
  flex-shrink: 1;
  flex-grow: 1;
  background-color: #f3fcfc;
}

.page-header--close + .page-main {
  margin-top: 64px;
}

.container section:last-of-type {
  margin-bottom: 64px;
}

.share {
  text-align: right;
  margin: 0 0.3em;
}

.page-footer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: auto;
  padding: 0;
  color: #e7f6f6;
  background: #32282c;
}

.page-footer > footer {
  max-width: 32em;
  margin: 0 auto;
  padding: 16px;
}

.page-footer a {
  color: #cfe8e0;
}

.page-footer a:visited {
  color: #a7d5d8;
}

.page-footer a:hover,
.page-footer a:focus,
.page-footer a:active {
  color: #e2fff6;
}

footer > ul {
  padding: 0;
  list-style-type: none;
  list-style: none;
}

.postlist {
  padding: 0;
  list-style-type: none;
  list-style: none;
}

.post__contents {
  min-height: 80px;
  margin: 8px;
  padding: 8px;
  display: flex;
}

.post__contents::after {
  display: block;
  content: '';
  clear: both;
}

.post__contents > figure{
  margin: 0;
  margin-right: 16px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__contents > figure > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 64px;
}

.post__contents > figure > div {
  width: 100%;
  height: 100%;
}

.imagelist > .image {
  height: 300px;
  margin-bottom: 16px;
}

.imagelist > .image:last-of-type {
  margin-bottom: 0;
}

.image__contents {
  height: 100%;
}

.image__body {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clothet {
  list-style-type: none;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.clothet__item {
  height: 7rem;
  /*margin-bottom: 1rem;*/
  padding: 1.5em 0;
  border-bottom: 1px solid #32282c;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
}

.clothet__item:last-of-type {
  margin-bottom: 0;
}

.clothet__item > .item__name {
  margin-bottom: 0.25rem;
  grid-column-start: 2;
}

.clothet__item > .item__author {
  grid-column-start: 2;
  grid-row-start: 2;
}

.clothet__item > .item__image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.clothet__item > .item__image div {
  width: 7em;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a.link-button {
  display: block;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid #719a9d;
  text-align: center;
  color: #1e3e41;
  transition: all ease .3s;
}

a.link-button:hover,
a.link-button:focus,
a.link-button:active {
  background: #cfe8e0;
}

.mono {
  font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
}

i.at::before {
  margin: auto 0.15em;
  font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  display: inline;
  content: '@';
}

@media screen and (max-width: 37rem) {
  header {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container {
    width: 100%;
  }

  .page-main {
    /*max-width: 310px;*/
    margin: 0;
  }

  section {
    max-width: initial;
    /*margin: 1rem;*/
  }

  .page-footer {
    width: 100%;
  }

  .page-footer > footer {
    /*max-width: 310px;*/
    margin: auto 8px;
  }

  .clothet__item > .item__image div {
    background-size: contain;
  }
}

@media screen and (max-width: 37rem) and (orientation: portrait) {
  .header__title > h1 {
    font-size: 16vw;
  }
  .page-header + .page-main {
    margin-top: 0;
  }
}

@media screen and (max-width: 37rem) and (orientation: landscape) {
  .header__title > h1 {
    font-size: 20vh;
  }
  .page-header + .page-main {
    margin-top: 0;
  }
}
