
$main-black: #384545;
$main-blue: #89A1EF;
$main-green: #CFE8E0;
$main-red: #BA637C;
$sub-red: #A15E49;
$main-yellow: #F7B801;

$main-color: $main-black;
$main-background: $main-green;
$link: $main-red;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: medium "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDGothic", Meiryo, sans-serif;
  line-height: 1.75;
  color: $main-color;
  /* http://www.heropatterns.com/ */
  background-color: $main-background;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2395c8b7' fill-opacity='0.52'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

::selection {
  color: #382f32;
  background: #a9e6ef;
}

a {
  color: $link;
  text-decoration: none;

  &:visited {
    color: desaturate($link, 30%);
  }

  &:hover,
  &:focus,
  &:active {
    color: saturate($link, 30%);
  }
}

p a {
  margin: auto .25em;
}

p a.fc,
p a.lnm {
  margin-left: 0;
}

p a.rnm {
  margin-right: 0;
}

p a.nm {
  margin: 0;
}

h1 > a,
h2 > a,
h3 > a {
  color: inherit;
}

p {
  line-height: 1.45;
}

rt {
  line-height: 1;
}

.pageWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  .pageMain {
    flex-grow: 2;
  }
}

.pageHeader {
  width: 100%;
  /*max-height: 60%;*/
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroHeader {
  width: 100%;
  min-height: calc(100% - 3rem);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &-title > h1 {
    text-align: center;
    font-size: 4rem;
  }

  &-image img {
    height: 60vh;
  }

  a:hover,
  a:focus,
  a:active,
  a:visited {
    color: inherit;
  }
}

.pageMain {
  padding: 1rem 0;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: #f3fcfc;
  & > * {
    max-width: 32rem;
    margin: 0 auto;
  }
}

.share {
  text-align: right;
  margin: 0 0.3em;
}

.pageFooter {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  color: #e7f6f6;
  background: #32282c;
  margin: 0 auto;

  &-container {
    max-width: 32rem;
    margin: 1em auto;
  }
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  & a {
    color: $main-green;

    &:visited {
      color: #a7d5d8;
    }
    &:hover,
    &:focus,
    &:active {
      color: #e2fff6;
    }
  }
}

.homePage {
  & > *:last-child {
    margin-bottom: 4rem;
  }
}
.posts {
  max-width: 32rem;
  margin: 0 auto;
  padding: 2rem 16px;
  background: #F3FCFC;

  .post {
    min-height: 80px;
    margin-bottom: 2rem;
    display: flex;
    gap: 4px;
    line-height: 1.45;
    &::after {
      display: block;
      content: '';
      clear: both;
    }
    &-content {
      flex-basis: 70%;
    }
    & > figure{
      margin: 0;
      // margin-right: 16px;
      flex-basis: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    figure > img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 64px;
    }
    figure > div {
      width: 100%;
      height: 100%;
    }
  }


}


.imagelist > .image {
  height: 300px;
  margin-bottom: 16px;
}

.imagelist > .image:last-of-type {
  margin-bottom: 0;
}

.image__contents {
  height: 100%;
}

.image__body {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

a.link-button {
  display: block;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid #719a9d;
  text-align: center;
  color: #1e3e41;
  transition: all ease .3s;
}

a.link-button:hover,
a.link-button:focus,
a.link-button:active {
  background: $main-green;
}

.mono {
  font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
}

i.at::before {
  margin: auto 0.15em;
  font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  display: inline;
  content: '@';
}


@media screen and (max-width: 37rem) {
  .heroHeader {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    min-height: inherit;
    &-title h1 {
      font-size: 3rem;
    }
  }

  .pageMain {
    & > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .pageFooter {
    &-container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .search {
    &-category {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 37rem) and (orientation: portrait) {
}

@media screen and (max-width: 37rem) and (orientation: landscape) {
}

@import './article';
@import './ogp-shortcode';
@import './clothet';
@import './events';

@import './tweet';
