blockquote.twitter-tweet {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px #1da1f2 solid;
  border-radius: 4px;
  line-height: 1.45;
  background: #fff;
  p {
    margin: 0;
    margin-bottom: .5rem;
    line-height: 1.45!important;
  }
}
